@page "/solicitud/{Id:guid}"

<div class="text-center">
  <h4>@solicitante.Cedula</h4>
  <h3>@solicitante.Nombre @solicitante.Apellido</h3>
  <h4>@solicitante.FechaNacimiento.ToShortDateString() - @solicitante.Provincia.Nombre</h4>
  <br>

  <div style="height: 300px" class="w-100 mb-1">
    <LeafletMap Map="mapa" />
  </div>
  <h4>@solicitante.Direccion</h4>
  <h5>@solicitante.Telefono | @solicitante.Correo</h5>
  <br>

  <h5>Covid: @(solicitante.HaTenidoCovid ? "Positivo" : "Negativo")</h5>
  <h6>@solicitante.Justificacion</h6>
  <br>

  <h6>
    Id de la Solicitud: 
    <a href="@nm.Uri">@solicitante.Id</a>
  </h6>
</div>

@code
{
  [Parameter]
  public Guid Id { get; set; }

  private Solicitante solicitante = null;

  private Map mapa = null;


  protected override void OnInitialized()
  {
    solicitante = vc.Solicitantes.Include("Provincia").First(x => x.Id == Id);

    mapa = new Map(jsr) {
      Center = new LatLng(solicitante.Latitud, solicitante.Longitud),
      Zoom = 16f,
      MaxBounds = new Tuple<LatLng, LatLng>(
        new LatLng(solicitante.Latitud-0.001f, solicitante.Longitud-0.001f),
        new LatLng(solicitante.Latitud+0.001f, solicitante.Longitud+0.001f)
      )
    };

    mapa.OnInitialized += () => {
      mapa.AddLayer(new TileLayer {                
        UrlTemplate = "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
        Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
      });
      var ubicacion = new Marker(solicitante.Latitud, solicitante.Longitud) {
        Tooltip = new Tooltip() {
          Content = $"{solicitante.Latitud}, {solicitante.Longitud}",
          Direction = "top",
          IsPermanent = true
        }
      };
      mapa.AddLayer(ubicacion);
    };
  }
}
